.cart {
    margin-left: 100px;
    width: 1200px;

    .cart2 {
        display: flex;
        flex-direction: column;
        gap: 130px;


        ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
            margin-top: 80px;
            border-radius: 4px;

            /* Categogy/5 */
            box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
            /* Primary */
            background: rgb(255, 255, 255);
            height: 72px;
            align-items: center;
            width: 1200px;


            li {
                /* Title/16PX Regular */
                color: rgb(0, 0, 0);
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0%;

            }
        }

        .cart3 {
            display: flex;
            border-radius: 4px;

            /* Categogy/5 */
            box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
            /* Primary */
            background: rgb(255, 255, 255);
            height: 72px;
            align-items: center;
            justify-content: space-around;


            p {
                /* Title/16PX Regular */
                color: rgb(0, 0, 0);
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: left;
            }

            .div10 {
                display: flex;
                gap: 23px;
                height: 72px;
                align-items: center;

                img {
                    width: 48.88px;
                    height: 42.22px;
                }

                h3 {

                    /* Title/16PX Regular */
                    color: rgb(0, 0, 0);
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }

            .div11 {
                display: flex;
                width: 72px;
                height: 44px;
                border: 1.5px solid rgba(0, 0, 0, 0.4);
                border-radius: 4px;
                padding: 5px 11px;
                gap: 12px;

                p {
                    padding-top: 5px;
                }



                .imgs {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .cart4 {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;

        button {
            box-sizing: border-box;
            border: 1px solid rgba(0, 0, 0, 0.5);
            border-radius: 4px;
            width: 195px;
            height: 56px;
            /* Title/16PX Medium */
            color: rgb(0, 0, 0);
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
        }
    }

    .cart5 {
        display: flex;
        justify-content: space-between;

        .cart51 {
            display: flex;
            margin-top: 80px;
            gap: 16px;


            h2 {
                width: 300px;
                height: 56px;
                box-sizing: border-box;
                border: 1px solid rgb(0, 0, 0);
                border-radius: 4px;
                /* Title/16PX Regular */
                color: rgb(0, 0, 0);
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0%;
                padding: 15px;


            }

            button {
                width: 211px;
                height: 56px;
                border-radius: 4px;

                /* Button2 */
                background: rgb(219, 68, 68);
                /* Title/16PX Medium */
                color: rgb(250, 250, 250);
                font-family: Poppins;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: center;
            }
        }

        .cart52 {
            width: 470px;
            height: 324px;
            box-sizing: border-box;
            border: 1.5px solid rgb(0, 0, 0);
            border-radius: 4px;
            margin-top: 80px;
            padding: 15px 20px;

            h2 {
                /* Title/20PX Medium */
                color: rgb(0, 0, 0);
                font-family: Poppins;
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0%;
                text-align: left;
            }

            .div12 {
                display: flex;
                flex-direction: column;
                gap: 10px;

                p {
                    /* Text2 */
                    border: 1px solid rgb(0, 0, 0);
                    opacity: 0.5;
                }

                h2 {

                    display: flex;
                    justify-content: space-between;
                    /* Title/16PX Regular */
                    color: rgb(0, 0, 0);
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }

            button {
                width: 260px;
                height: 56px;
                border-radius: 4px;

                /* Button2 */
                background: rgb(219, 68, 68);
                /* Title/16PX Medium */
                color: rgb(250, 250, 250);
                font-family: Poppins;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0%;
                border: none;
                margin-left: 90px;
            }
        }
    }
}